<h1> cartitemitems listing page </h1>
<table>
  <thead>
    <tr>
      <th>Product : </th>
      <th>Product name :</th>
      <th>Cart : </th>
      <th>Price:</th>
      <th colspan="4"> Actions : </th>
      </tr>
    </thead>
    <tbody>
      <% @cartitems.each do |a| %>
      <tr>
        <td><%= a.product_id %></td>
        <td><%= a.product.name %></td>
        <td><%= a.cart_id %></td>
        <td><%=a.total_price%></td>
        <td><%= link_to 'Show',cartitem_path(a)%></td>
        <td><%= link_to "Edit", edit_cartitem_path(a) %></td>
        <td><%= link_to "Delete", cartitem_path(a),method: :delete, data: {confirm: "Are you sure?"} %></td>

      </tr>
      <% end %>
    </tbody>
</table>



<%= link_to 'create new cartitem',new_cartitem_path%><br>
<%= link_to 'return to products',products_path %><br>
<%= link_to 'cart',carts_path %>
