<h1> Showing cartitems </h1>
<p><strong>Product :</strong><%= @cartitem.product_id %></p>
<p><strong>Cart :</strong><%= @cartitem.cart_id %></p>
<%= link_to "Edit", edit_cartitem_path(@cartitem) %>
<%= link_to "Delete", cartitem_path(@cartitem),method: :delete, data: {confirm: "Are you sure?"} %>

<%= link_to 'return to cartitems',cartitems_path %>
<%= link_to 'order',new_order_path %>
