<%= form_with(model: @order, local: true) do |form| %>
  <% if @order.errors.any? %>
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>
  <p>
    <%= form.label :Line1 %>
    <%= form.text_field :Line1 %>
  </p>
  <p>
    <%= form.label :Line2 %>
    <%= form.text_field  :Line2 %>
  </p>
  <p>
    <%= form.label :city %>
    <%= form.text_field  :city %>
  </p>
  <p>
    <%= form.label :state %>
    <%= form.text_field  :state %>
  </p>
  <p>
    <%= form.label :postalcode %>
    <%= form.number_field  :postalcode %>
  </p>
  <p>
    <%= form.label :country %>
    <%= form.text_field  :country %>
  </p>
  <p>
    <%= form.label :mobilenumber %>
    <%= form.number_field :mobilenumber %>
  </p>
  <p><%= form.collection_select(:pay_id,Pay.all, :id, :paytype, { :prompt => 'Select paytype', :selected => @order.pay_id }, { class: 'form-control' }) %></p>

  <p>
    <%= form.submit%>
  </p>
<% end %>
