<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Name of user</th>
      <th >Item</th>
      <th >Price</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <% order.cartitems.each do |a| %>
        <td><%= a.product.name %></td>
        <td><%= a.product.price %></td>

        <% end %>

        <td><%= link_to 'Show', order %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= link_to 'New Order', new_order_path %><br>
<%= link_to 'cart',carts_path %>
