<h1> Carts listing page </h1>
<% @carts.each do |a| %>
   <% a.cartitems.each do |b| %>
     <p><strong>Product:</strong><%= b.product.name %></p>
     <p><strong>price:</strong><%= b.product.price %></p>
<%= link_to 'order',new_order_path %>
<% end %>
<% @carts.each do |a| %>
    <p><strong>Total price:</strong><%=a.totalcartprice %></p>

<% end %>

<p><%= button_to 'Empty cart', a,
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<% end %></p>

<p><%= link_to 'back',products_path %></p>
