<table>
  <thead>
    <tr>
      <th>Category of Product: </th>
      <th>Name: </th>
      <th>Price: </th>
      <th>Description: </th>
      <th>Rating: </th>
      <th>Image:</th>
  
      </tr>
    </thead>
    <tbody>
      <% @products.each do |a| %>
      <tr>
        <td><%= a.category.name %></td>
        <td><%= a.name %></td>
        <td><%= a.price %></td>
        <td><%= a.description %></td>
        <td><%= a.rating %></td>
        <td><%= image_tag(a.image.picture.url,width:'130px',height:'100px') %></td>
        <% if current_user.role != 'admin' %>
        <td><%= button_to 'Add to cart', cartitems_path(product_id: a), remote: true %></td>
        <% if user_signed_in? %>
          <% if a.wishlisted?(current_user) %>
            <td><%= button_to "wishlist", wishlist_path(a),method:"put",disabled:true %></td>
          <% else  %>
            <td><%= button_to "wishlist", wishlist_path(a),method:"put" %></td>
          <% end %>
        <% end %>
        <% end %>

        <td><%= link_to 'Show',product_path(a)%></td>
        <td>
              <% if current_user.role == 'admin' %>
                <%= link_to "Edit", edit_product_path(a) %>
                <%= link_to "Delete", product_path(a),method: :delete, data: {confirm: "Are you sure?"} %>
              <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
</table>
<% if current_user.role == 'admin' %>
  <p>
    <%= link_to 'create new product',new_product_path%><br>
  </p>
<% end %>
